body{
    margin: 0;
}

.screen{
    display: flex;
    flex-direction: column;
}

.head{
    height: 15vh;
    width: 100vw;

    background-color: antiquewhite;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}